{
  "useKcpTransport": false,
  "overrideAppId": -1,
  "dumpWorldObjects": false,
  "debugMode": false,
  "drawGui": false,
  "drawLines": false,
  "drawLabels": false,
  "drawQuantumVisibilityObjects": false,
  "avoidTimeSync": false,
  "skipTitleScreen": false,
  "greySkybox": false,
  "playerIdInLogs": true
}